<html>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/about">About <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/macro">National Look</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              State-by-state
            </a>
            <div id="add" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for state in states %}
                <a class="dropdown-item" href="/micro/{{state}}">{{state}}</a>
                
              {% endfor %}
              
            </div>
          </li>
      </ul>  
    </div>
  </nav>
  </html>